<div class="toast-container">
  @for (toast of toasts$ | async; track toast.id) {
  <div class="toast-card" 
       [ngClass]="'toast-' + toast.type">
       
    <div class="toast-icon-wrapper">
      <div class="icon-circle" [ngClass]="'icon-' + toast.type">
        @if (toast.type === 'success') {
          <i class="fa-solid fa-check"></i>
        }
        @if (toast.type === 'error') {
          <i class="fa-solid fa-xmark"></i>
        }
        @if (toast.type === 'info') {
          <i class="fa-solid fa-info"></i>
        }
        @if (toast.type === 'warning') {
          <i class="fa-solid fa-info"></i>
        }
      </div>
    </div>
    
    <div class="toast-content">
      <p class="toast-message">{{ toast.message }}</p>
    </div>
    
    <button class="toast-close" (click)="removeToast(toast.id)">
      <i class="fa-solid fa-xmark"></i>
    </button>
    
    <!-- Progress Bar -->
    <div class="toast-progress"></div>
  </div>
  }
</div>
